.normalbutton {background-color: #121212; color: #fff; font-size: 20px; padding: 10px 20px; border-radius: 12px;} 

.normalbutton:hover {
    background-color:#f7f3f3f1;
    transition: 0.7s;
    color:#121212;
}

.randombutton {background-color: #121212; color: #fff;font-size: 20px; padding: 10px 20px; float: right; border-radius: 12px;
   margin-left: auto;} 

.randombutton:active {
  background-color: rgb(36, 174, 96);
  transform: translateY(4px);
}

#nameContainer {
  position: absolute;
  left: 230px;
  bottom: 219px; }

.button-container {
    display: flex;
  }
